<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title><%= title %></title>
</head>
<body>
	<center><h1>Welcome</h1></center>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>username</th>
					<th>password</th>
				</tr>
			</thead>
			<tbody>
				<% userData.forEach(el => { %>
				 <tr>
					<td><%= el.username %></td>
					<td><%= el.password %></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</body>
</html>